NEXT_PUBLIC_APP_NAME="Digitcore"
NEXT_PUBLIC_WEBSITE_TITLE="Digitcore - All-in-One for Schools"
NEXT_PUBLIC_WEBSITE_DESCRIPTION="The smart platform for modern school management"
NEXT_PUBLIC_WEBSITE_URL="http://localhost:3000"
NEXT_PUBLIC_WS_URL="ws://localhost:3100/ws"

API_BASE_URL="http://localhost:3100/api/v1"
CDN_URL="https://dev.cdn.digitcore.cm/api/v1"
CDN_KEY="ssgHmYgNBaIJsdMLSpvVArNo742674192"

NEXT_AUTH_URL="http://localhost:3000"                           # for Next auth redirection
NEXT_AUTH_SECRET="lSy31MWYWuTiUj61bvysGGc5ok9IVb/s7loG5GSgPn0=" # Added by `npx auth secret` or `openssl rand -base64 32`. Read more: https://cli.authjs.dev

# SCHOOL_ID=1 # Integer value. Empty for admin
# SCHOOL_API_KEY="ioxP5RPXf9La2gNZojOzshqiFK-3P7NjMNadYe3a3xI=" # Empty for admin
