.ant-upload-list-item-container,
.ant-upload.ant-upload-select {
  width: 15.9% !important;
  height: auto !important;
  min-width: 150px !important;
  min-height: 150px !important;
  max-width: 200px !important;
  max-height: 200px !important;
}
